@import '../variables.scss';

.p_card {
    color: $dark-gray;
    text-transform: uppercase;
    text-align: center;

    img {
        border: 1px solid $gray;
        width: 100%;
    }

    button {
        background: $baby-green;
        border: 1px solid $baby-green;
        display: block;
        padding:10px 10px;
        width: 100%;
        border-radius: $med-radius;
        color:$white;
        margin: 10px 0;
        font-size:16px;
        font-weight: 800;
    }

    .price {
        font-weight:800;
        color: $red-web;
        font-size:19px;
    }
}