$sm: 320px;
$tab: 768px;
$desk: 1024px;
$large: 1440px;

$white: #FFFBFD;
$red-web: #CC0D1F;
$gray:#DFDEDC;
$dark-gray:#717171;
$baby-green: #80BDB8;
$teal: #63908B;

$color-select-red: $red-web;
$color-select-orange: #F36324;
$color-select-blue: #28A3AA;

$med-radius: 4px;