@import '../variables.scss';

header{
    #login {
        background: #231F20;
        padding: 5px 0;
        width:100%;
        color: #fff;
        text-align:right;

        a {
            text-decoration: underline;
        }
    }

    #brand {

    }
    
    .search {
        align-content: stretch;
        width:60%;
        text-align:right;

        input[type='text'], input[type='submit'] {
            height: 44px;
            box-sizing: border-box;
        }

        input[type='text'] {
            width:100%;
            max-width: 415px;
        }

        input[type='submit'] {
            background-color: $red-web;
            border: 1px solid $red-web;
            color: #fff;
            font-size:14px;
            font-weight:600;
            letter-spacing: -1px;        
            padding:5px 25px;
        }
    }
    
    .row {
        justify-content: space-between;
        padding: 15px 0;
    }
    
    #menu {
        background: #CC0D1F;
        color: #fff;
        font-weight:800;
        margin: 25px 0;
        text-transform: uppercase;
    
        ul {
            max-width: 1440px;
            margin:0;
            padding:0;
    
            li {
                display:inline-flex;
                
                a {
                    padding: 20px 35px 16px 0;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@media (min-width: $tab) {
    header{
        .search {
            input[type='text'] {
                width:70%;
            }
        }
    }
}